*{
  background: #f4f4f6;
}
.clock{
  font-size: 90px;
  text-align: center;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 0;
  font-family: "August Bold";
  f
}
/*#time{*/
/*  font-size: 150px;*/
/*  padding: unset;*/
/*}*/