# Default ignored files
/../../Digital Clock /.idea/shelf/
/../../Digital Clock /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Digital Clock /.idea/httpRequests/
# Datasource local storage ignored files
/../../Digital Clock /.idea/dataSources/
/../../Digital Clock /.idea/dataSources.local.xml
